body{
   font-family: 'Roboto', sans-serif;
}
.container{
    padding:10px;
    box-shadow:5px 5px 5px skyblue;
    
    border-radius:8px;
    
    background: #c2e59c; /* fallback for old browsers */
     background: -webkit-linear-gradient(to bottom, #c2e59c, #64b3f4); 
    background: linear-gradient(to bottom, #c2e59c, #64b3f4); 
}
.interest{
    margin-top:10px;
}
.intro{
    text-align: center;
    margin:10px;
}